<div class="container">
    <h1>Welcome to {{Title}} for {{name}}</h1>
    <img src="../../assets/images/School1.jpg" alt="SupportWell" style="padding-left: 1rem; padding-right: 1rem; max-width: 50px;">
    <hr>
    <button class="btn btn-primary btn-block" style="margin-bottom: 1rem;" routerLink="/fixtures">Fixtures</button>
    <button class="btn btn-secondary" style="margin-right:1%;">Register for Reminders</button>
    <button class="btn btn-secondary" style="margin-left:1%;">View Game Reminders</button>
    <hr>
    <app-braai></app-braai>
    <button class="btn btn-secondary" style="margin-right:1%;margin-top: 1rem;">Book a Spot</button>    
    <button class="btn btn-secondary" style="margin-left:1%;margin-top: 1rem;">Remove Booking</button>    
    <hr>
    <app-server></app-server>
    <button class="btn btn-secondary" style="margin-right:1%;margin-top: 1rem;">Book a Spot</button>    
    <button class="btn btn-secondary" style="margin-left:1%;margin-top: 1rem;">Remove Booking</button>    
</div>